<!DOCTYPE html>
<html>

<head>
    <title>geolocate</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script defer src="user_location.js"></script>
</head>

<body>

<form>
<div>location</div>
<input id="locationInput"></input><br><br>
<button type="button" onclick="handleSubmit()" action="#">find lat and lon</button><br><br>

<div>Your coordinates:</div>
<p id="geocode"></p>

<div id="stationOutput">Tidal station nearest you: <br><br></div><br><br>

<div id="currentTime">Current time @ station: <br><br></div><br><br>

<div id="stationData">Data for station: <br><br></div><br><br>

<div id="nextTideTime">Next tide @ station: <br><br></div><br><br>

<div id="previousTideTime">Last tide @ station: <br><br></div><br><br>

</form>

</body>
</html>
