* {
    box-sizing: border-box;
}

body {
    display: flex;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgb(39, 53, 100);
    background-size: 100%;
    /* flex-direction: column; */
}

#sun {
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
    transform: translate(-40%, -30%)
}

.stillWater {
    grid-row: 2;
    grid-column: 3;
}

#stillWater {
    grid-row: 2;
    grid-column: 3;
}

.sun {
    height: 170px;
    width: 175px;
}

.time-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 95%;
    height: 95%;
    align-self: flex-start;
    justify-self: center;
}

#next_high {
    grid-column: 4;
    grid-row: 3;
    align-self: center;
}

#next_low {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
}

#current_time {
    grid-column: 3;
    grid-row: 2;
    align-self: flex-start;
    opacity: 1;
}

#play_button {
    grid-column: 3;
    grid-row: 5;
    justify-self: center;
    align-self: flex-end;
}

#current_time,
#next_low,
#next_high {
    display: flex;
    font-family: 'Arial';
    font-size: 2em;
    color: rgba(214, 241, 243, 0.945);
    font-weight: bold;
    margin: 0 auto;
    opacity: .86;
    height: 1.2em;
    width: 2.5em;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1em;
    z-index: 1;
}

#location {
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    position: relative;
    margin: 0 auto;
    grid-column: 3;
    grid-row: 1;
    opacity: .8;
    align-self: center;
}

#info {
    grid-column: 5;
    grid-row: 1;
    align-self: flex-start;
    justify-self: flex-end;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-style: italic;
    color: white;
}

a {
    text-decoration: none;
}