html {
    --mW0: 1;
    --mW1: 1.05;
    --mW2: 1.10;
    --mW3: 1.15;
    --mW4: 1.20;
    --mW5: 1.24;
    --mW6: 1.20;
    --mW7: 1.15;
    --mW8: 1.10;
    --mW9: 1.05;
    --mW10: 0.98;
    --mW11: 1;
}

body {
    background: #333;
}

.main {
    margin: auto;
    width: 65vw;
    /* height: 50vh; */
}

#maxLevel {
    visibility: hidden;
}

#waveBreak {
    position: relative;
    animation-name: waveCrash;
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    z-index: 2;
}

.moveWater2 {
    position: relative;
    animation-name: moveWater2;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: top;
}

.moveWater {
    position: relative;
    animation-name: moveWater;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: top;
}

@keyframes moveWater {
    0% {transform: scale(1, var(--mW0))}
    10% {transform: scale(1, var(--mW1))}
    20% {transform: scale(1, var(--mW2))}
    30% {transform: scale(1, var(--mW3))}
    40% {transform: scale(1, var(--mW4))}
    50% {transform: scale(1, var(--mW5))}
    60% {transform: scale(1, var(--mW6))}
    70% {transform: scale(1, var(--mW7))}
    80% {transform: scale(1, var(--mW8))}
    90% {transform: scale(1, var(--mW9))}
    95% {transform: scale(1, var(--mW10))}
    100% {transform: scale(1, var(--mW11))}
}


@keyframes moveWater2 {
    0% {transform: scale(1, 1)}
    100% {transform: scale(1,100) }
}

@keyframes waveCrash {
    0% {transform: scale(1.05, 1)}
    50% {transform: scale(1, 1.02)}
    100% {transform: scale(1.05,1)}
}

/* Default mW steps */

/*  */


/* 0% {transform: scale(1, 1)}
    10% {transform: scale(var(--mW1))}
    20% {transform: scale(var(--mW2))}
    30% {transform: scale(var(--mW3))}
    40% {transform: scale(var(--mW4))}
    50% {transform: scale(var(--mW5)) }
    60% {transform: scale(var(--mW6)) }
    70% {transform: scale(var(--mW7))}
    80% {transform: scale(var(--mW8))}
    90% {transform: scale(var(--mW9))}
    95% {transform: scale(var(--mW10))}
    100% {transform: scale(1, 1)} */